<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1 th:text="${titulo}"></h1>
	<ul>
		<li>
			<a th:href="@{/variables/string/} + 'hola andres'">/variables/string/hola andres</a>
		</li>
		<li>
			<a th:href="@{/variables/string/} + 'hola john'">/variables/string/hola john</a>
		</li>
		<li>
			<a th:href="@{/variables/string/} + 'hola john' + '/' + 10 ">/variables/string/hola john/10</a>
		</li>
		<li>
			<a th:href="@{/variables/string/} + ${titulo} + '/' + ${'10'} ">/variables/string/titulo/10</a>
		</li>
	</ul>
</body>
</html>