<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container py-4">
		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">

				<form th:action="@{/form}" th:object="${cliente}" method="post">
					<table class="table table-striped">
						<tr>
							<td>nombre</td>
							<td><input type="text" th:field="*{nombre}"
								class="form-control" /></td>

						</tr>
						<tr>
							<td>apellido</td>
							<td><input type="text" th:field="*{apellido}"
								class="form-control" /></td>
						</tr>
						<tr>
							<td>email</td>
							<td><input type="text" th:field="*{email}"
								class="form-control" /></td>
							<td><input type="hidden" th:field="*{id}" /></td>
						</tr>
						<tr>
							<td><input type="submit" value="crear cliente"
								class="btn btn-primary" /></td>
						</tr>
					</table>
					<small class="form-text text-danger"
						th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">
					</small> <small class="form-text text-danger"
						th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}">
					</small> <small class="form-text text-danger"
						th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
					</small>
				</form>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>