<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
<meta charset="UTF-8" />
<title th:text="' SPRING MVC + JPA + THYMELEAF ' + ${titulo}"></title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}"/>
</head>
<body>
	<header th:fragment="header">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" th:href="@{/}">Spring MVC JPA</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarNav" aria-controls="navbarNav"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item"><a class="nav-link" th:href="@{/listar}">listado</a>
					</li>
				</ul>
			</div>
		</nav>
		<div class="alert alert-success" th:if="${success != null}"
			th:text="${success}"></div>
		<div class="alert alert-danger" th:if="${error != null}"
			th:text="${error}"></div>
		<div class="alert alert-warning" th:if="${warning != null}"
			th:text="${warning}"></div>
		<div class="alert alert-info" th:if="${info != null}"
			th:text="${info}"></div>
	</header>

	<div class="container"></div>

	<footer th:fragment="footer"
		class="container page-footer font-small indigo">
		<br />
		<div class="container-fluid text-center text-md-left">

			<div class="row">
				<div class="col-md-6 mt-md-0 mt-3">

					<h5 class="text-uppercase font-weight-bold">Footer text 1</h5>
					<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
						Expedita sapiente sint, nulla, nihil repudiandae commodi
						voluptatibus corrupti animi sequi aliquid magnam debitis, maxime
						quam recusandae harum esse fugiat. Itaque, culpa?</p>
				</div>

				<hr class="clearfix w-100 d-md-none pb-3">

				<div class="col-md-6 mb-md-0 mb-3">

					<h5 class="text-uppercase font-weight-bold">Footer text 2</h5>
					<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
						Optio deserunt fuga perferendis modi earum commodi aperiam
						temporibus quod nulla nesciunt aliquid debitis ullam omnis quos
						ipsam, aspernatur id excepturi hic.</p>
				</div>
			</div>
		</div>
		<script th:src="@{js/jquery-ui.min.js}"></script>
		<script th:src="@{js/jquery-3.4.1.js}"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>
	</footer>
</body>
</html>